services:
  pdfbot:
    restart: unless-stopped
    build:
      context: .
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - ./media:/tmp/media
      - ./pdf:/var/pdf

  db:
    image: postgres:18-alpine
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./schema:/docker-entrypoint-initdb.d:ro

volumes:
  postgres_data:
